/* General container styling */
.house-card-container .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Positioning the heart icon to the right */
  .house-card-container .heart-icon {
    margin-left: auto; /* Push the heart icon to the right */
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .house-card-container .heart-icon:hover {
    transform: scale(1.2);
  }
  
  .house-card-container .heart-icon.favorite i {
    color: red;
  }
  
  .house-card-container .card-body {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Align the price and heart icon properly */
  .house-card-container .price-heart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Make sure it spans full width */
  }
  