/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.brand-name {
    color: rgb(91, 173, 9);
}


.globe-button,
.user-button,
.search-button,
.search-icon {
    background-color: rgb(91, 173, 9);
}

.form-control {
    height: 5rem;
    border-radius: 10px;
    transition: .5s ease;
  }

.navbar-btn {
    height: 5rem;
}

footer {
    
    text-decoration: none;
}

.nav-link {
    color: gray;
  }

.static-btn {
    background-color:  rgb(91, 173, 9);
}

.bar {
    width: 800px;  
    height: 70px;  
    border-radius: 50px;
  }
  
  .bar input[type="text"]:focus {
    outline: none;
  }